.xlarge-heading {
    font-size: $font-size-xlarge;
    margin-bottom: 2rem;
}

.xlarge-heading-no-margin {
    font-size: $font-size-xlarge;
}

.medium-text {
    font-size: $font-size-medium;
}

.centred-text {
    text-align: center;
}
