$black: rgba(0, 0, 0, 0);
$black-opaque: rgba(0, 0, 0, .5);

$pink: rgba(255, 192, 203, 1);
$pink-opaque: rgba(255, 192, 203, .5);
$deep-pink: rgba(255, 105, 180, 1);
$deep-pink-opaque: rgba(255, 105, 180, .6);

$mellow-yellow: rgba(254, 240, 170, 1);
$mellow-yellow-opaque: rgba(254, 240, 170, .6);
$deep-yellow: rgba(255, 236, 148, 1);

$light-blue: rgba(180, 216, 231, 1);
$deep-blue: rgba(86, 186, 236, 1);

$light-green: rgba(176, 229, 124, 1);
