{% extends "nunjucks/templates/layout.njk" %}

{% block page_title %}404{% endblock %}

{% block body %}

<div class="content">
    <div class="container-center-top">
        <h1 class="xlarge-heading-no-margin centred-text">Where's it gone?</h1>
        <img class="taz" src="/images/taz.png" alt="the tazmanian devil" width="743" height="699">
        <p class="medium-text centred-text">Not here, that's for sure! Try the <a href="/">home</a> page instead.</p>
    </div>
</div>

{% endblock %}
