{% extends "nunjucks/templates/layout.njk" %}

{% block page_title %}Error{% endblock %}

{% block body %}

<div class="content">
    <div class="container-center-top">
        <h1 class="xlarge-heading-no-margin centred-text">Oh no :(</h1>
        <img class="sadcake" src="/images/sadcake.png" alt="a sad cake" width="408" height="408">
        <p class="medium-text centred-text">You broke it! Try the <a href="/">home</a> page instead.</p>
    </div>
</div>

{% endblock %}
